:root {
    --color-brand-light: #FFFFFF;
    --color-brand-normal: #2B7FFF;
    --color-brand-dark: #011C44;
    --color-secondary-light: #747272;
    --color-secondary-normal: #4A4A4A;
    --color-secondary-dark: #011F4A;
}